<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<section>
    <div class="container" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
        <div class="row col-md-10">
            <h2>List of Registered Users</h2>
        </div>
        <table class="table table-light table-hover">
            <thead class="table-light">
            <tr>
                <th>Full Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "user : ${users}">
                <td th:text = "${user.fullName}"></td>
                <td th:text = "${user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

</body>
</html>