<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>LogIn</title>
</head>
<body>
<section>
  <div class="container" >
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div th:if="${param.error}">
          <div class="alert alert-danger">Invalid Email or Password</div>
        </div>
        <div th:if="${param.logout}">
          <div class="alert alert-success"> You have been logged out.</div>
        </div>

        <div class="card">
          <div class="card-header text-center fs-4">
            Login page
          </div>
          <div class="card-body">
            <form method="post"
                  role="form"
                  th:action="@{/login}"
                  class="form-horizontal">

              <div class="form-group">
                <label for="email">Email address</label>
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        id="email"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                        type="password"
                        name="password" required
                        class="form-control"
                        id="password"
                        placeholder="Password"/>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" value="Log in">Login</button>
                <span> Not registered ?
                  <a th:href="@{/register}" sec:authorize="!isAuthenticated()">Register here</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>