<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org"
       th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Register candidate</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">
                        Register to run for president
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You have successfully registered our app!
                        </div>
                    </div>
                    <div class="card-body">
                        <form
                                th:action="@{/registerCandidate}"
                                th:object="${candidate}"
                                method="post"
                                role="form">

                            <div class="form-group">
                                <label>Full name</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="fullNameCandidate"
                                        name="fullNameCandidate"
                                        placeholder="Enter full name"
                                        th:field="*{fullNameCandidate}"
                                        required="required"
                                />
                                <p th:errors = "*{fullNameCandidate}" class="text-danger"
                                   th:if="${#fields.hasErrors('fullNameCandidate')}"></p>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email address</label>
                                <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="Enter email"
                                        th:field="*{email}"
                                        required="required"
                                />
                                <p th:errors = "*{email}" class="text-danger"
                                   th:if="${#fields.hasErrors('email')}"></p>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="description"
                                        name="description"
                                        placeholder="Enter short description"
                                        th:field="*{description}"
                                        required="required"
                                />
                                <p th:errors = "*{description}" class="text-danger"
                                   th:if="${#fields.hasErrors('description')}"></p>
                            </div>
                            <button
                                    class="btn btn-primary"
                                    type="submit">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>